<template>
  <div class="about">
    <h1>About the Author</h1>
    <p v-html="aboutText"></p>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'

// Create a ref for the about text
const aboutText = ref("Hello! My name is <b>N</b>.<br><br>" +
    "I am a software engineer specializing in server-side applications.<br>" +
    "Here are a few facts about me:<br><br>" +
    "I was developing a direct analog of Dropbox on p2p protocols before Bitcoin hit $750.<br><br>" +
    "I was working on a facial recognition system before it became trendy.<br><br>" +
    "For fun, I've dabbled in reverse engineering and solved quite a number of crackmes from <u>crackmes.de</u> " +
    "(which is now down).<br><br>" +
    "For more than five years, I have been working in the data storage industry, " +
    "releasing a number of major software updates for disaster recovery, and working very closely with VMware, Dell, " +
    "and EMC products.<br><br>" +
    "I also have unique experience in automating the setup of a Spine-Leaf network architecture with Cisco Nexus 9000 switches; " +
    "at one major bank, the entire network's fail-safety was ensured by a subsystem I developed.<br><br>" +
    "Currently, I'm developing one of the core services for one of the world's largest ride-hailing companies.<br><br>" +
    "I regularly monitor <u>0day.today</u> and am up-to-date with the trends in secure software development.<br><br>" +
    "I love thinking up good solutions, and I enjoy sharing my knowledge and experiences with others.<br><br>" +
    "In the past, I dedicated most of my free time to programming and related activities. However, " +
    "I've recently discovered some hobbies that I'm passionate about. I'll probably share more about them on this blog.<br><br>" +
    "Welcome to my blog.")



</script>

<style scoped>
.about {
  width: 80%;
  margin: 0 auto;
  font-family: 'Courier New', monospace;
}

.about h1 {
  text-align: center;
  margin: 20px 0;
}

.about p {
  font-size: 1.2em;
  line-height: 1.7em;
}
</style>
