<template>
  <header>
    <nav>
      <ul>
        <li><a href="#/blog">Blog</a></li>
        <li><a href="#/about">About</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <about v-if="isAboutPage"></about>
    <blog-list v-else-if="isBlogPage"></blog-list>
  </main>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useRoute } from 'vue-router'
import About from "@/components/about.vue";
import BlogList from "@/components/blogList.vue";

const route = useRoute();
const isAboutPage = computed(() => route.path === '/about');
const isBlogPage = computed(() => route.path === '/blog');
</script>

<style scoped>
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}
</style>
